/* @import "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"; */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    color: #646363;    
    min-height: 100%;    
    position: relative;
    background: #f2f4f8;
    font-family: Arial;
}
a{
    text-decoration: none !important;
}
.h1, .h2, .h3, h1, h2, h3{
    margin-top: 10px;
    font-weight: bold;
}
.pointer{
    cursor: pointer;
}
.form-control{
    color: inherit
}
/* Utility styles
-------------------------------------------------- */
.p0 {
	padding: 0 !important;
}
.p10{
    padding: 10px !important;
}
.p20{
    padding: 20px !important;
}
.p30{
    padding: 30px !important;
}

.pT0 {
	padding-top: 0 !important;
}
.pB0 {
	padding-bottom: 0 !important;
}
.pL0 {
	padding-left: 0 !important;
}
.pR0 {
	padding-right: 0 !important;
}
.m0 {
	margin: 0 !important;
}
.mT0 {
	margin-top: 0 !important;
}
.mB0 {
	margin-bottom: 0 !important;
}
.mB10 {
	margin-bottom: 10px !important;
}
.mB20 {
	margin-bottom: 20px !important;
}
.mB30 {
	margin-bottom: 30px !important;
}
.mB40 {
	margin-bottom: 40px !important;
}
.mL0 {
	margin-left: 0 !important;
}
.mR0 {
	margin-right: 0 !important;
}


/* Background Color */

/* Sky Blue */
.bg-white{
    background: #fff;
}
.bg-sky-blue-100{
    background: rgba(0,162,224,1);
}
.bg-sky-blue-90{
    background: rgba(0,162,224,0.9);
}
.bg-sky-blue-80{
    background: rgba(0,162,224,0.8);
}
.bg-sky-blue-60{
    background: rgba(0,162,224,0.6);
}
.bg-sky-blue-40{
    background: rgba(0,162,224,0.4);
}
.bg-sky-blue-20{
    background: rgba(0,162,224,0.2);
}
.bg-sky-blue-10{
    background: rgba(0,162,224,0.1);
}

/* Navy Blue */
.bg-navy-blue-100{
    background: rgba(14,53,112,1);
}
.bg-navy-blue-80{
    background: rgba(14,53,112,0.8);
}
.bg-navy-blue-60{
    background: rgba(14,53,112,0.6);
}
.bg-navy-blue-40{
    background: rgba(14,53,112,0.4);
}
.bg-navy-blue-20{
    background: rgba(14,53,112,0.2);
}
.bg-navy-blue-10{
    background: rgba(14,53,112,0.1);
}

/* Grey */
.bg-grey-100{
    background: rgba(100,99,99,1);
}
.bg-grey-80{
    background: rgba(100,99,99,0.8);
}
.bg-grey-60{
    background: rgba(100,99,99,0.6);
}
.bg-grey-40{
    background: rgba(100,99,99,0.4);
}
.bg-grey-20{
    background: rgba(100,99,99,0.2);
}
.bg-grey-10{
    background: rgba(100,99,99,0.1);
}

/* Green */
.bg-green-100{
    background: rgba(109, 194, 75,1);
}
.bg-green-80{
    background: rgba(109, 194, 75,0.8);
}
.bg-green-60{
    background: rgba(109, 194, 75,0.6);
}
.bg-green-40{
    background: rgba(109, 194, 75,0.4);
}
.bg-green-20{
    background: rgba(109, 194, 75,0.2);
}
.bg-green-10{
    background: rgba(109, 194, 75,0.1);
}

/* Yellow */
.bg-yellow-100{
    background: rgba(255, 218, 41,1);
}
.bg-yellow-80{
    background: rgba(255, 218, 41,0.8);
}
.bg-yellow-60{
    background: rgba(255, 218, 41,0.6);
}
.bg-yellow-40{
    background: rgba(255, 218, 41,0.4);
}
.bg-yellow-20{
    background: rgba(255, 218, 41,0.2);
}
.bg-yellow-10{
    background: rgba(255, 218, 41,0.1);
}

/* Red */
.bg-red-100{
    background: rgba(239, 51, 65,1);
}
.bg-red-80{
    background: rgba(239, 51, 65,0.8);
}
.bg-red-60{
    background: rgba(239, 51, 65,0.6);
}
.bg-red-40{
    background: rgba(239, 51, 65,0.4);
}
.bg-red-20{
    background: rgba(239, 51, 65,0.2);
}
.bg-red-10{
    background: rgba(239, 51, 65,0.1);
}

/* Text Colors */
.text-wipro-red{
    color:rgb(239, 51, 65,0.9);
}
.text-wipro-sky-blue{
    color:#00a2e0
}
.text-wipro-navy-blue{
    color:#0e3570
}
.text-wipro-green{
    color:#6dc24b
}
.text-wipro-yellow{
    color:#ffda29
}
.text-grey,.text-muted{
    color:#99abb4
}

/* Buttons */
.btn{
    padding: 8px 22px;
    letter-spacing: 0.6px;
    border-width: 1px
}
.btn-round{
    border-radius: 20px;
}
.btn-circle{
    border-radius: 50%;
}
.btn-custom-primary{
    color: #fff;
    background-color: #00a2e0;
    border-color: #00a2e0;    
    box-shadow: none;
    outline: none;
}
.btn-custom-primary:hover,
.btn-custom-primary:active,
.btn-custom-primary:active:focus,
.btn-custom-primary:focus,
.btn-custom-primary.active,
.btn-custom-primary.active:hover,
.btn-custom-primary.active:focus{
    background-color: #00b6ff;
    border-color: #00b6ff;
    color: #fff;
    box-shadow: none;
    outline: none
}
.btn-custom-primary:disabled:hover,
.btn-custom-primary.disabled:hover,
.btn-custom-primary[disabled]:hover,
.btn-custom-primary:disabled:focus,
.btn-custom-primary.disabled:focus,
.btn-custom-primary[disabled]:focus{
    background-color: #00a2e0;
    border-color: #00a2e0; 
}

.btn-outline{
    background: transparent;
    color: rgba(0,162,224,1)
}
.btn-outline:hover,
.btn-outline:active,
.btn-outline:active:focus,
.btn-outline:focus,
.btn-outline.active,
.btn-outline.active:hover,
.btn-outline.active:focus{
    background: transparent;
    border-color: #00b6ff;
    color: #00b6ff;
    outline: none
}
.btn-outline:disabled:hover,
.btn-outline.disabled:hover,
.btn-outline[disabled]:hover,
.btn-outline:disabled:focus,
.btn-outline.disabled:focus,
.btn-outline[disabled]:focus{
    background: transparent;
    border-color: #00a2e0; 
}

.btn-custom-default{
    color: inherit !important;
    border-color: #adacac;    
    box-shadow: none;
    outline: none;    
}
.btn-custom-default:hover,
.btn-custom-default:active,
.btn-custom-default:active:focus,
.btn-custom-default:focus,
.btn-custom-default.active,
.btn-custom-default.active:hover,
.btn-custom-default.active:focus{
    border-color: #646363;
    outline: none
}
.btn-custom-default:disabled:hover,
.btn-custom-default.disabled:hover,
.btn-custom-default[disabled]:hover,
.btn-custom-default:disabled:focus,
.btn-custom-default.disabled:focus,
.btn-custom-default[disabled]:focus{
    border-color: #adacac;   
}
.file-uploader-btn{
    position: relative;
}
.file-uploader-btn input[type='file']{
    opacity: 0;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.text-link{
    color: #00a2e0;
}
.text-link:hover,
.text-link:active,
.text-link:active:focus,
.text-link:focus,
.text-link.active,
.text-link.active:hover,
.text-link.active:focus{
    color: #00b6ff;
}
.text-link:disabled:hover,
.text-link.disabled:hover,
.text-link[disabled]:hover,
.text-link:disabled:focus,
.text-link.disabled:focus,
.text-link[disabled]:focus,
.text-link:disabled,
.text-link.disabled,
.text-link[disabled]{
    color: #adacac;
    cursor: not-allowed;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 15px;
}
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
}

/* Dropdown */
.custom-dropdown .caret{
    margin-left:15px;
}
.custom-dropdown.dropdown .caret{
    border-top-width: 6px;
}
.custom-dropdown.dropup .caret{
    border-bottom-width: 6px;
}
.custom-dropdown .btn{
    color: inherit !important;
    border-color: #adacac;
    box-shadow: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
}
.custom-dropdown.open .btn,
.custom-dropdown .btn:hover,
.custom-dropdown .btn:active,
.custom-dropdown .btn:active:focus,
.custom-dropdown .btn:focus,
.custom-dropdown .btn.active,
.custom-dropdown .btn.active:hover,
.custom-dropdown .btn.active:focus{
    border-color: #00a2e0;
    outline: none
}
.custom-dropdown.open .btn .caret,
.custom-dropdown .btn:hover .caret{
    color:#00a2e0;
}

/* Radio Button */
.custom-radio{
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.custom-radio-label,
.radio label{
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}
.custom-radio-label:before,
.custom-radio-label:after{
    border: 1px solid #adacac;
    border-radius: 50%;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 17px;
    height: 17px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
}
.custom-radio[type="radio"]:not(:disabled) + .custom-radio-label:hover:before,
.custom-radio[type="radio"]:not(:disabled) + .custom-radio-label:hover:after{
    border-color: 1px solid #00a2e0;
}
.custom-radio[type="radio"]:checked + .custom-radio-label:before{
    border: 1px solid #00a2e0;
}
.custom-radio[type="radio"]:checked + .custom-radio-label:after{
    border: none;
}
[type="radio"]:disabled + label {
    color: rgba(0, 0, 0, 0.26);
}
.custom-radio[type="radio"]:checked + .custom-radio-label:after{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    background-color: #00a2e0;
    z-index: 0;
}

/* Checkbox */
.custom-checkbox{
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.custom-checkbox-label,
.checkbox label{
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
}
.custom-checkbox-label:before{
    border: 1px solid #adacac;
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 17px;
    z-index: 0;
    -webkit-transition: all .28s ease-in-out 0s;
    -o-transition: all .28s ease-in-out 0s;
    transition: all .28s ease-in-out 0s;
    border-radius: 4px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color:#00a2e0;
    opacity: 0;
    padding: 1px;
    font-size: 13px;
}
.custom-checkbox-label:after{
    border: 1px solid #adacac;
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 17px;
    z-index: 0;
    -webkit-transition: all .28s ease-in-out 0s;
    -o-transition: all .28s ease-in-out 0s;
    transition: all .28s ease-in-out 0s;
    border-radius: 4px;
}
.custom-checkbox[type="checkbox"]:not(:disabled) + .custom-checkbox-label:hover:before,
.custom-checkbox[type="checkbox"]:not(:disabled) + .custom-checkbox-label:hover:after{
    border: 1px solid #00a2e0;
}
.custom-checkbox[type="checkbox"]:checked + .custom-checkbox-label:before{
    border: 1px solid #00a2e0;
    opacity: 1;
}
.custom-checkbox[type="checkbox"]:checked + .custom-checkbox-label:after{
    border: none;
}
[type="checkbox"]:disabled + label {
    color: rgba(0, 0, 0, 0.26);
}

/* Switch */
.switch {
    cursor: pointer;
}
.switch, .switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.switch input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
.switch .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #e0e0e0;
    border: 1px solid #adacac;
    border-radius: 15px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    vertical-align: middle;
    margin: 0 16px;
}
.switch .lever:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #adacac;
    border-radius: 50%;
    left: -5px;
    top: -6px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}
.switch input[type=checkbox]:checked + .lever {
    background-color: #fff;
    border-color: #00a2e0;
}
.switch input[type=checkbox]:disabled + .lever{
    opacity: 0.5;
    cursor: not-allowed
}
.switch input[type=checkbox]:checked + .lever:after {
    background-color: #84c7c1;
    left: 20px;
    border-color: #00a2e0;
    background-color: #00b6ff;
}
.switch input[type=checkbox]:not(:disabled) ~ .lever:active:after, 
.switch input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 15px rgba(0, 0, 0, 0.05);
}

/* progress */
.custom-progress .progress-bar,
.custom-striped-progress .progress-bar{
    background-color: rgba(0,162,224,0.9)
}

/* Tooltip */
.tooltip-inner{
    border: 1px solid #adacac;
    background-color: #fff;
    color: inherit;
    padding: 5px 10px;
}
.tooltip.left .tooltip-arrow{
    border-left-color: #adacac;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #adacac;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #adacac;
}
.tooltip.right .tooltip-arrow{
    border-right-color: #adacac;
}

/* Tabs */
.custom-default-tabs .nav-tabs{
    border: none;
}
.custom-default-tabs .nav-tabs>li>a{
    color: inherit;
    border-radius: 0;    
    padding: 8px 22px;
    font-size: 15px;
    background: transparent;
    margin-right: 5px
}
.custom-default-tabs .tab-content{
    padding: 10px 0;
    margin-top: 10px
}
.custom-default-tabs .nav-tabs>li.active>a, 
.custom-default-tabs .nav-tabs>li.active>a:focus, 
.custom-default-tabs .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
    border-bottom: 3px solid  #00a2e0;
    color: #00a2e0;
    background: transparent
}
.custom-default-tabs .nav>li>a:focus,
.custom-default-tabs .nav>li>a:hover{
    border: 1px solid transparent;
    border-bottom: 3px solid  rgb(208,208,208);
    background: transparent
}


/* Tabs rounded */
.custom-default-tabs.rounded .nav-tabs>li>a{
    margin-right: 10px
}
.custom-default-tabs.rounded .nav-tabs>li>a{
    border-radius: 20px
}
.custom-default-tabs.rounded .nav-tabs>li.active>a, 
.custom-default-tabs.rounded .nav-tabs>li.active>a:focus, 
.custom-default-tabs.rounded .nav-tabs>li.active>a:hover{
    border: 1px solid #00a2e0;
    border-bottom-width: 1px;
}
.custom-default-tabs.rounded .nav>li>a:focus,
.custom-default-tabs.rounded .nav>li>a:hover{
    border: 1px solid rgb(208,208,208);
}
/* .white-tabs .nav-tabs>li>a,
.white-tabs .nav-tabs>li.active>a,
.white-tabs .nav-tabs>li.active>a:focus,
.white-tabs .nav-tabs>li.active>a:hover{
    color: #fff
}
.white-tabs .nav-tabs>li.active>a{
    border:1px solid  #fff !important
} */

/* Tabs whitetext */
.custom-default-tabs.whitetext .nav-tabs>li>a{
    color: #fff;
    border-radius: 0;    
    padding: 8px 22px;
    font-size: 15px;
    background: transparent;
    margin-right: 5px
}
.custom-default-tabs.whitetext .nav-tabs>li.active>a, 
.custom-default-tabs.whitetext .nav-tabs>li.active>a:focus, 
.custom-default-tabs.whitetext .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
    border-bottom: 3px solid  #ffffff;
    color: #ffff;
    background: transparent
    /* border: 1px solid #00a2e0; */
    /* border-bottom-width: 1px; */
}
.custom-default-tabs.whitetext .nav>li>a:focus,
.custom-default-tabs.whitetext .nav>li>a:hover{
    border: 1px solid transparent;
    border-bottom: 3px solid  rgb(208,208,208);
    background: transparent
}
/* .white-tabs .nav-tabs>li>a,
.white-tabs .nav-tabs>li.active>a,
.white-tabs .nav-tabs>li.active>a:focus,
.white-tabs .nav-tabs>li.active>a:hover{
    color: #fff
}
.white-tabs .nav-tabs>li.active>a{
    border:1px solid  #fff !important
} */

/*#######################*/


/* Pagination */
.pagination{    
    margin: 0;
}
.pagination>li>a, .pagination>li>span{
    border-color: #e0e0e0;
    color: inherit
}
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover{
    outline: none;
}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #00a2e0;
    border-color: #00a2e0;
}
.custom-pagination.rounded>li>a, .custom-pagination.rounded>li>span{
    margin-right: 10px;
    border-radius: 4px
}
.pagination.rounded>.active>a, .pagination.rounded>.active>a:focus, 
.pagination.rounded>.active>a:hover, .pagination.rounded>.active>span, 
.pagination.rounded>.active>span:focus, .pagination.rounded>.active>span:hover {
    color: #00a2e0;
    background-color: #fff;
    border-color: #00a2e0;
}

/* Panel */
.panel-default{
    border: 1px solid #e0e0e0   
}
.panel-default>.panel-heading {
    color: #646363;
    background-color: #e6e6e6;
    margin: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    margin-bottom: 0;
}
.custom-panel>.panel-heading {
    color: #fff;
    background-color: #00b6ff;
}
.custom-plain-panel>.panel-heading {
    background-color: #fff;
    margin: 0;
    padding: 15px;
}
.panel .arrow{
    float: right;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);

    /* float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px; */
}
.panel .collapsed .arrow{    
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);

    /* float: right !important;
    content:"\f067"; */
}

/* Custom Modal */
.custom-modal .modal-header{
    color: #646363;
    background-color: #e6e6e6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e0e0e0;
}
.custom-modal .modal-header .modal-title{
    font-weight: bold;
}
.custom-modal .modal-footer{
    padding-top: 0;
    border-top: none
}
.dialog-icon{
    margin-top: 10px;
    font-size: 40px;
}

/* Table */
.custom-table{
    border: 1px solid #e0e0e0;
}
.custom-table>thead>tr>th{
    background: #e6e6e6;
    border-bottom: none;    
    border-right: 1px solid #c1c1c1;
}
.custom-table > thead > tr > th:last-of-type{
    border-right: none
}
.custom-table>tbody>tr>td, 
.custom-table>tbody>tr>th, 
.custom-table>tfoot>tr>td, 
.custom-table>tfoot>tr>th, 
.custom-table>thead>tr>td, 
.custom-table>thead>tr>th{
    border-top: none;    
    padding: 8px 15px;
}
.custom-table>thead>tr>th:focus{
    outline: none;
}
.custom-table>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}
.custom-table>tbody>tr:nth-of-type(even) {
    background-color: rgba(224, 224, 224,.2);
}
.custom-table.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}
.table-transparent{
    border: none
}
.table-transparent>thead>tr>td, 
.table-transparent>thead>tr>th{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 0 10px 0
}
.table-transparent>tbody>tr>td{
    padding: 15px 0; 
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
}
.table-transparent>tbody>tr:last-child > td{
    border: 0
}
.table-transparent>tbody>tr{
    background: transparent !important
}
.hidden-table-head > tr> th{
    padding: 0 !important;
    border:0 !important
}
/* Datatable */
.dataTables_length label,
.dataTables_filter label{
    font-weight: normal
}

.dataTables_length,.dataTables_filter{
    margin-bottom: 5px;
}
.dataTables_length select{
    border-radius: 20px;
    margin: 0 5px;
}
.dataTables_filter input{    
    border-radius: 20px;
    margin-left: 5px;
}

/* Corousel */
.carousel-indicators li{
    border-color: #adacac;
    background: #fff
}
.carousel-indicators .active{
    background: #00a2e0;
    border-color: #00a2e0;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-filter: blur(3px); 
    filter: blur(3px);    
    transition: opacity 1s ease-in-out 0s;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
    -webkit-filter: blur(0px); 
    filter: blur(0px);  
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/* Form Wizard */
.wizard-wrapper .navbar .navbar-inner .nav{
    text-align: center;
    font-size: 0px
}
.wizard-wrapper .navbar .navbar-inner .nav > li{
    display: inline-block;
    width: 20%;
    font-size: 14px;
}
.wizard-wrapper .navbar .navbar-inner .nav > li > a{
    border-radius: 50%;
    border: 1px solid #adacac;
    height: 25px;
    width: 25px;
    display: inline-block;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0;
}
.wizard-wrapper .navbar .navbar-inner .nav > li .step-title{
    display: block
}
.wizard-wrapper .navbar .navbar-inner .nav > li:not(:first-of-type)::before,
.wizard-wrapper .navbar .navbar-inner .nav > li:not(:last-of-type)::after{
    content: "";
    display: inline-block;
    top: 10px;    
    height: 5px;
    position: absolute;
    width: 50%;
    background: #e6e6e6;
    z-index: 1;
}
.wizard-wrapper .navbar .navbar-inner .nav > li::before{
    left:0;
}
.wizard-wrapper .navbar .navbar-inner .nav > li::after{
    right:0;
}
.wizard-wrapper .navbar .navbar-inner .nav > li.active > a,
.wizard-wrapper .navbar .navbar-inner .nav > li.done > a{
    background: #00a2e0;
    border-color: #00a2e0
}
.wizard-wrapper .navbar .navbar-inner .nav > li.active::after,
.wizard-wrapper .navbar .navbar-inner .nav > li.done::after,
.wizard-wrapper .navbar .navbar-inner .nav > li.active::before,
.wizard-wrapper .navbar .navbar-inner .nav > li.done::before{
    background: #00a2e0;
}
.wizard-wrapper ul.wizard{
    margin:20px 0 0 0
}
.wizard-wrapper ul.wizard li.disabled{
    cursor: not-allowed;
}
.wizard-wrapper ul.wizard li.disabled .btn{
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}
.wizard-wrapper ul.wizard li.previous{
    float: left
}
.wizard-wrapper ul.wizard li.next{
    float: right
}
.wizard-wrapper .step-indicator{
    float: right;
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
}
.custom-select{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.custom-select:focus{
    outline: none
}

/* Cards */
.custom-card{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.custom-card .card-head{
    color: #fff;
    padding:20px 20px 25px;    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.custom-card .card-head .title{
    margin-top: 0
}
.custom-card .card-head .desc{
    opacity: 0.5;
    margin: 0
}
.custom-card .card-body{
    position: relative;
    padding: 20px;
    background: #fff; 
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.add-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -27px;
    line-height: 50px;
    font-size: 18px;
    padding: 0;
    text-align: center;
    background: #00b6ff;
    border-color: #00b6ff;
    right: 15px;
}
.custom-card .card-body ul{
    margin:0
}
.custom-card .card-body .img-block {
    line-height: 45px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 2px;
}
.custom-card .card-body  .desc-block{
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}
.custom-card .card-body ul > li > a{
    padding: 15px 10px;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    text-decoration: none;
}
.custom-card .card-body ul > li:last-of-type > a{
    border-bottom: none;
}
/* Header styles
-------------------------------------------------- */
.navbar-container{
    background: rgba(0,162,224,0.8);
    padding-right: 40px;
}
.navbar-header{
    background: #fff;
    min-width: 230px;
    margin-left:-15px !important;
    -webkit-box-shadow: 5px 8px 30px -18px rgba(0,0,0,1);
    -moz-box-shadow: 5px 8px 30px -18px rgba(0,0,0,1);
    box-shadow: 5px 8px 30px -18px rgba(0,0,0,1);
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
}
.navbar-default {
    background-color: #fff;
    border-bottom:none;
    -webkit-box-shadow: 0px 4px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 30px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 30px -12px rgba(0,0,0,0.75);   
     color:#fff
}
.navbar-brand{
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 !important;
}
.navbar .sub-title{
    font-size: 20px;
    margin-top: 16px;
    display: inline-block;
    margin-left: 40px;
}
.navbar-brand > img {
    display: inline-block;
    max-width: 160px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav>li{
    vertical-align: middle
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-nav>li.user-drop .user-image{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.navbar-nav>li.user-drop.open>a, 
.navbar-nav>li.user-drop.open>a:focus, 
.navbar-nav>li.user-drop.open>a:hover{
    background: inherit;
    color: #fff;
}
.sidebar-hidden .navbar-header{
    margin-left: -185px !important;
}
.sidebar-hidden .navbar-brand > img{
    opacity: 0;
}
/* Sidebar styles
-------------------------------------------------- */
.left-menu-wrapper{
    background: #fff;
    margin-top: 65px;
    z-index:1031;
    width:230px;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    height: 100%;
    max-width: 100%;
    position: fixed;
    display: block;
    float: left;
    overflow: auto;
    -webkit-box-shadow: 5px 8px 30px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 8px 30px -18px rgba(0,0,0,0.75);
    box-shadow: 5px 8px 30px -18px rgba(0,0,0,0.75);
    border-top:1px solid #ddd;
}
.sidebar-overlay{
    display: none;
}
#sidebarToggle{
    font-size: 20px;
    margin:15px;
    cursor: pointer;   
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    border-radius: 50%;
    float: right;
}
#sidebarToggle:hover{
    color: #00a2e0
}
.sidebar-hidden #sidebarToggle{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    float: left;
}
#sidebarToggle:hover  {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 15px rgba(0, 0, 0, 0.05);
    outline: none;
}
.left-menu-wrapper > ul > li{
    border-left: 4px solid transparent;
}
.left-menu-wrapper ul li a{
    padding: 15px 10px;
    display: block;
    color:inherit;   
    position: relative; 
    font-size: 15px;
}
.left-menu-wrapper ul li a i{
    margin-right: 10px;
    font-size: 18px;
}
.left-menu-wrapper ul li a i.fa{
    font-size: 17px
}
.left-menu-wrapper > ul  li.active{
    background: rgba(0,162,224,0.1);
}
.left-menu-wrapper > ul > li.active,
.left-menu-wrapper > ul > li:hover{
    border-left: 4px solid rgba(0,162,224,1);
}
.left-menu-wrapper > ul > li.active > a{
    font-weight: bold;
}
.left-menu-wrapper ul li.active > a{
    color: rgba(0,162,224,1);
}
.left-menu-wrapper .side-text{
    font-size: 15px;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
 }
.left-menu-wrapper ul li a:hover,
.sidebar-hidden .left-menu-wrapper  ul > li:hover > a{
    background: rgba(0,162,224,0.2);
}
.left-menu-wrapper ul li a .page-icon{
    margin-right: 10px
}
.left-menu-wrapper ul > li.sub-menu-wrapper > a::after{
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute; 
    right:15px;
    top:15px;
    font-size: 16px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
}
body:not(.sidebar-hidden) .left-menu-wrapper ul > li.sub-menu-wrapper.active > a::after{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.left-menu-wrapper ul li.sub-menu-wrapper > ul{
    display: none;
}
.left-menu-wrapper ul li.sub-menu-wrapper.active > ul{
    display: block;
}
.left-menu-wrapper ul li.sub-menu-wrapper > ul > li > a{
    padding-left: 30px;
}

/* sidebar hidden left styles */
.sidebar-hidden .left-menu-wrapper{
    width: 60px;
    overflow: initial;
    position: absolute;
    min-height: 100%;
    height: auto;
    z-index: 1029;
}
.sidebar-hidden .left-menu-wrapper .side-text{
   font-size: 0px;
}
.sidebar-hidden .left-menu-wrapper .sub-menu-wrapper{
    position: relative;
}
.sidebar-hidden .left-menu-wrapper .sub-menu-wrapper ul.sub-menu{
    position: absolute;
    left: 57px;
    width: 220px;
    top: 0;
    background: #fff;
    border: 1px solid #e6e6e6;
    display: none;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.sidebar-hidden .left-menu-wrapper .sub-menu-wrapper:hover ul.sub-menu{
    display: block;    
}
.sidebar-hidden .left-menu-wrapper .sub-menu-wrapper:hover ul.sub-menu .side-text{
   font-size: 15px;    
}
/* Main content styles
-------------------------------------------------- */
.sidebar-hidden #main-content {
    padding: 65px 0 0 60px;
}
#main-content {
  /* remove side menu*/
  padding:65px 0 0 230px;
  /*padding: 65px 0 0 0px;*/
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
}
.template2 .content-wrapper{
    margin-top: 20px;
}
.content-head-wrapper{
    background: rgba(0,162,224,0.8);
    min-height: 260px;
}
.breadcrumb-wrapper{
    padding: 40px 40px;
}
.breadcrumb{
    padding: 12px 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    text-align: right;
}
.breadcrumb li a,.breadcrumb>.active{
    color: #fff
}
.content-wrapper{    
    padding: 20px 40px;
    margin-bottom: 15px;
    background: transparent;
    margin-top: -280px;
}

.custom-block{
    background: #fff;
    padding: 20px 25px;
    border-radius: 4px;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
}

/* Login Styles */
.login-wrapper{
    min-height: 100vh;
    background: rgba(0,162,224,0.8);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-block {
    width: 440px;
    background: #fff;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.login-holmes-logo{
    margin-top: 35px;
    width: 175px;
}
.login-wipro-logo{
    width: 135px;
}
.login-wrapper .form-group{
    margin-bottom: 30px;
}
.login-wrapper .form-control{
    border-radius: 8px;
}
.login-wrapper .label-icons{
    padding-top: 3px;
}
.login-wrapper .label-icons img{
    max-width: 30px
}
.copyright{
    bottom: -65px;
    position: relative;
    display: block;
    left: -40px;
    color: #fff;
}
/* center aligned */
.login-template1{
    background: url("../images/login1.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.login-template2{
    background: url("../images/login2.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.login-template2 .template-image{
    max-width: 50%;
}
.graph-wrapper {
    height: 315px;
}
.graph-wrapper .x.axis path, .graph-wrapper .y.axis path {
    display: none;
}
.graph-legend-wrapper{
    margin: 15px 0 0 0;
    display: block;
    text-align: center;
}
.graph-legend-wrapper > li{
    width: 49%;
    margin-bottom: 5px
}
.graph-legend-wrapper > li span{
    height: 12px;
    width:12px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.dash-tiles{
    border: 1px solid #e0e0e0;
}
.dash-tiles-wrapper{
    display: block;
    width: 100%;
    margin: 0;
    text-align:center;
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
.dash-tiles-wrapper > li{
    width: 25%;
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    padding: 5px 20px;
}
.dash-tiles-wrapper > li:first-child{
    padding-left: 0;
}
.dash-tiles-wrapper > li:last-child{
    border: 0;
    padding-right: 0;
}
.dash-tiles-wrapper > li:nth-child(1) .icon{
    color: #3E5D8D;
}
.dash-tiles-wrapper > li:nth-child(2) .icon{
    color: #6DC24B;
}
.dash-tiles-wrapper > li:nth-child(3) .icon{
    color: #F5858D;
}
.dash-tiles-wrapper > li:nth-child(4) .icon{
    color: #00A2E0;
}
.dash-tiles-wrapper > li p{
    text-align: left;
    margin-bottom: 30px;
    font-size: 16px;
}
.dash-tiles-wrapper > li .icon{
    width: 40px;
    display: inline-block;
    font-size: 25px;
    text-align: left;
}
.dash-tiles-wrapper > li .count{
    width: calc(100% - 45px);
    display: inline-block;
    font-size: 35px
}
.name-initial{
    line-height: 45px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 2px
}

/*-----  Responsive  ---------*/
@media (max-width: 768px){
    .navbar-container{
        padding-right: 15px;
    }
    .navbar-brand{
        width: auto;
        min-width: 230px;
        text-align: center; 
        background: #fff
    }
    .navbar-header{
        background: rgba(0,162,224,0.8);
        width: 230px;
        float: left;
        position: fixed;
    }
    .navbar-right {
        float: right;
        margin:0;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar .sub-title{
        margin-left: 80px;
    }
    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
        background-color: #fff;
    }
    .sidebar-hidden .navbar-brand > img {
        opacity: 0;
    }
    .sidebar-overlay{
        z-index: 9;
        background: rgba(0,0,0,0.4);
        height: 100%;
        width: 100%;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
    }
    .sidebar-hidden .sidebar-overlay{
        display: none;
    }
    #main-content{
        padding-left: 60px
    }
    .login-wrapper{
        padding: 0 50px;
    }
    .login-template2{
        align-items: center;
    }
}

@media (max-width: 576px){
    .login-wrapper{
        padding: 0 30px;
    }
    .login-block{
        width: 100%;
        padding:20px;
    }
}


input.search-query {
  padding-left: 26px;
}

form.form-search {
  position: relative;
}

  form.form-search:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
  }

  /* Custom Style*/

.fit-image {
  width: 100%;
  object-fit:fill;
  height: 300px; /* only if you want fixed height */
}

/*.linewrapper {
  position: relative;
  width: 20px;
  height: 300px;
  border: 1px dashed #ccc;
  margin: 10px;
}*/

.line {
  position: absolute;
  left: 49%;
  top: 0;
  bottom: 0;
  width: 1px;
  height:300px;
  background: #ccc;
  z-index: 1;
}

.wordwrapper {
  text-align: center;
  height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 120px;
  z-index: 2;
}

.word {
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 3px;
  font: bold 12px arial,sans-serif;
  background: #fff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
  }

/* enable absolute positioning */
.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #aaa;
  }
  
  /* align glyph */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  

  .tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
    border-width: 1px;
    border-color: red;
  }
  .tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
  }
  .tag a:hover {
    opacity: 1.0
  }
  .tag .remove {
    vertical-align: bottom;
    top: 0;
  }
  .tag a {
    margin: 0 0 0 .3em;
  }
  .tag a .glyphicon-white {
    color: #ef1c1c;
    margin-bottom: 2px;
  }
  .label-tag {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 4px 8px;
    border-radius: 2px;
    /* font-size: 12px; */
    font-weight: 400;
    color: #FFF
  }
  .label-tag.label-tag-outlined {
    border-width: 1px;
    border-style: solid;
    background-color: transparent
  }
  
  .label-tag.label-tag-outlined.label-tag-danger {
    border-color: #ef1c1c;
    color: #ef1c1c
  }

  /* Timeline */
  ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*------------*/

.borderless>thead>tr>th {
    border-right: none;
}
/* 
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
} */



