<aside class="left-menu-wrapper">
    <div class="text-right clearfix">
      <i class="icon-arrow-left-circle" aria-hidden="true" id="sidebarToggle"></i>
    </div>    
    <ul class="list-unstyled">
      <li>
        <a [routerLink]="['/app/home']">
          <img src="../../../assets/images/surface775796.svg"  alt="Location" height="20px"  width="20px" />
          <span class="side-text"> Entity Management</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/app/case']">
          <img src="../../../assets/images/statistics.svg"  alt="Location" height="20px"  width="20px" />
          <span class="side-text"> Case Management</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/app/tasklist']">
          <img src="../../../assets/images/menu.svg"  alt="Location" height="20px"  width="20px" />
          <span class="side-text"> Task List</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/app/document']">
          <img src="../../../assets/images/multiple-files-stack.svg"  alt="Location" height="20px"  width="20px" />
          <span class="side-text"> Document</span>
        </a>
      </li>      
    </ul>
      
  </aside>
