
  <div class="sidebar-overlay"></div>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" style="border:0px">
    <div class="container-fluid navbar-container">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/app/home']" style="height:auto">
          <img src="../../../assets/images/holmes-logo.png" id="headimg">
        </a>
      </div>
      <span class="sub-title">Case Management</span>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user-drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="user-image"></span>
            <span class="user-name">{{user.userid}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--/.nav-collapse -->
      
        
      
    </div>
  </nav>
 

